# Python
venv/
.venv/
env/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables sensibles
.env
backend/.env

# Bases de datos
*.sqlite3
*.db

# Editor
.vscode/
.idea/

# Sistema
.DS_Store

# Logs
*.log

# Node / Frontend
node_modules/
dist/