# Base de datos
DATABASE_URL=postgresql+psycopg://usuario:contraseña@localhost:5432/nombre_bd

# Entorno
APP_ENV=development

# Seguridad JWT
SECRET_KEY=cambia_esto_por_una_clave_segura_en_produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Usuarios de prueba (requeridas para ejecutar create_test_users.py)
TEST_ADMIN_PASSWORD=
TEST_SUPERVISOR_PASSWORD=
TEST_OPERARIO_PASSWORD=
